*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebd3bc;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff914d #ebd3bc;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ebd3bc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff914d;
    border-radius: 25px;
    border: 3px solid #ebd3bc;
  }